@media only screen and (max-width: 768px) {
    .count {
        flex-direction: column;
        align-items: start !important;
    }
}

.heading-label{
    font-size: 1.5rem;
}

.darkModeBtn{
    cursor: pointer;
}

/* body {
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #cff3ef 100%);

} */